* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-direction: row;
}

.grid-row {
    display: flex;
    flex-direction: row;
    border: 1px black;
}

.grid-box {
    border: 1px solid rgb(215, 215, 215);
}